@model List<Sorverteria.Web.Models.Sorvete>
@{
    ViewBag.Title = "Home Page";
}
 
<div class="jumbotron">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <a>
                        <img src="@item.Foto" style="width: 100%"/>
                        <div class="caption">
                            <h3>@item.Sabor</h3>
                            <p>@item.Descricao</p>
                        </div>
                    </a>
                </div>
            </div>
        }
        @if (!Model.Any())
        {
            <p class="lead">
                Acabaram os sorvetes
            </p>
        }
    </div>
</div>
